<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="AdminDAOMapper.xml"/>
        <mapper resource="CartMapper.xml"/>
        <mapper resource="CustomerDAOMapper.xml"/>
        <mapper resource="EventDAOMapper.xml"/>
        <mapper resource="MemberMapper.xml"/>
        <mapper resource="MyCartMapper.xml"/>
        <mapper resource="myOrderMapper.xml"/>
        <mapper resource="orderMapper.xml"/>
        <mapper resource="Perfume_SQL.xml"/>
        <mapper resource="ReviewMapper.xml"/>
        <mapper resource="wishMapper.xml"/>
    </mappers>

</configuration>
