<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.perfume.exam.service.dao.MyWishDAO">

<!-- 관심상품 목록 조회 -->
<select id="selectWishList" resultType="myWishVO">
	<![CDATA[
		SELECT * FROM MY_WISH
		where ID = #{id}
	]]>

</select>

<!-- 관심상품 목록 삭제 --> 
<delete id="deleteWish" parameterType="int">
	<![CDATA[
		DELETE FROM MY_WISH WHERE WISHID = #{WISHID}
	]]>	

</delete>

<!-- 상세페이지에서 관심상품 목록에 추가 -->  

<insert id="addWish" parameterType="myWishVO">
	<![CDATA[
		insert into MY_WISH values 
		(seq_mywish.nextval, #{name}, #{price}, #{image}, #{id})
	]]>
</insert>

<!-- 관심목록 확인 -->
 <select id="checkWish" resultType="myWishVO">
 	<![CDATA[
 	select * from MY_WISH
 	where ID = #{id} and name = #{name}
 	]]>
 </select>
 

</mapper>